@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-size: 14px !important;
  font-family: "Lato" !important;
}

label {
  font-size: 14px !important;
}

.ant-breadcrumb {
  font-size: 14px !important;
  font-family: "Lato" !important;
}

.ant-btn {
  font-size: 14px !important;
  font-family: "Lato" !important;
}

.ant-input {
  font-size: 14px !important;
}

.ant-menu-submenu {
  font-size: 14px !important;
  font-family: "Lato" !important;
}

.ant-modal {
  font-size: 14px !important;
}

.ant-table {
  font-size: 14px !important;
  font-family: "Lato" !important;
}

.ant-timeline-item-content {
  font-size: 14px !important;
  font-family: "Lato" !important;
}
