body {
  font-size: 14px !important;
}

.ant-breadcrumb {
  font-size: 14px !important;
}

.ant-menu-submenu {
  font-size: 14px !important;
}

.ant-table {
  font-size: 14px !important;
}

.ant-timeline-item-content {
  font-size: 14px !important;
}
