<nz-steps [(nzCurrent)]="current">
  <nz-step [nzTitle]="'Login'">
    <ng-template #nzIcon>
      <i class="anticon anticon-user"></i>
    </ng-template>
  </nz-step>
  <nz-step [nzTitle]="'Verification'">
    <ng-template #nzIcon>
      <i class="anticon anticon-solution"></i>
    </ng-template>
  </nz-step>
  <nz-step [nzTitle]="'Pay'">
    <ng-template #nzIcon>
      <i class="anticon anticon-credit-card"></i>
    </ng-template>
  </nz-step>
  <nz-step [nzTitle]="'Done'">
    <ng-template #nzIcon>
      <i class="anticon anticon-smile-o"></i>
    </ng-template>
  </nz-step>
</nz-steps>
<div class="steps-content">{{ index }}</div>
<div class="steps-action">
  <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
    <i class="anticon anticon-caret-left"></i> Previous
  </button>
  <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 3">
    <i class="anticon anticon-caret-right"></i> Next
  </button>
  <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 3">
    <i class="anticon anticon-check"></i> Done
  </button>
</div>
