$primary-color: #005daa;

.logo {
  height: 32px;
  width: 80%;
  background: #f2f2f2;
  border-radius: 2px;
  margin: 16px 8px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .ant-layout-sider {
  margin-right: 8px;
}

::ng-deep .ant-layout-sider-children {
  background: #fff;
}

::ng-deep .ant-layout-sider-trigger {
  background: #fff;
  color: #111;

}

::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title::after {
  display: none;
}

::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

::ng-deep .trigger:hover {
  color: $primary-color;
}

::ng-deep .ant-back-top {
  bottom: 6px;
}

::ng-deep .ant-back-top-inner {
  margin-left: 12px;
  height: 24px;
  width: 64px;
  line-height: 24px;
  border-radius: 4px;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
}
